In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'


# _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ __ _ _ _ _ _ __ _ _ _ _ _ _ _ __ _ _ _ __ _ _ _ _ __ _ _ _

# Exercises Part 1
## Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

### Use pandas to create a Series named fruits from the following list:

####    ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
    
##### Use Series attributes and methods to explore your fruits Series.

In [3]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
type(fruits)

pandas.core.series.Series

1.) Determine the number of elements in fruits.

In [10]:
print(fruits)
result = len(fruits)
print(f'The number of elements in fruits is {result} ')

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object
The number of elements in fruits is 17

2.) Output only the index from fruits.

In [5]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

3.) Output only the values from fruits.

In [11]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

4.) Confirm the data type of the values in fruits.

In [16]:
fruits.dtype

dtype('O')

'b'       boolean  
'i'       (signed) integer  
'u'       unsigned integer  
'f'       floating-point  
'c'       complex-floating point  
'O'       (Python) objects  
'S', 'a'  (byte-)string  
'U'       Unicode  
'V'       raw data (void)  
  
#### Hence, the data type of this array is (Python) objects

5.) Output only the first five values from fruits.  
     
         Output the last three values.   
      Output two random values from fruits.

In [52]:
print(color.BLUE + 'The first five values from fruits\n' + color.END)
print(fruits.head(5))
print('')
print(color.PURPLE + 'The last three values from fruits\n\n' + color.END)
print(fruits.tail(3))
print('')
print(color.CYAN + 'Two random values from fruits\n\n\n' + color.END)
print(fruits.sample(2))

The first five values from fruits

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

The last three values from fruits


14    blackberry
15    gooseberry
16        papaya
dtype: object

Two random values from fruits



5    honeycrisp apple
4          gala apple
dtype: object

6.) Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [40]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

7.) Run the code necessary to produce only the unique string values from fruits.

In [48]:
print(color.BOLD + 'So unique.\n' + color.END)
print(fruits.unique())

So unique.

['kiwi' 'mango' 'strawberry' 'pineapple' 'gala apple' 'honeycrisp apple'
 'tomato' 'watermelon' 'honeydew' 'blueberry' 'blackberry' 'gooseberry'
 'papaya']

8.) Determine how many times each unique string value occurs in fruits.

In [45]:
print(color.BOLD + 'Check out these fruits. Gee, I love Kiwi\n' + color.END)
print(fruits.value_counts())

Check out these fruits. Gee, I love Kiwi

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

9.) Determine the string value that occurs most frequently in fruits.

In [73]:
fruits.mode()
print('Although a weird way to get the most often object, mode does the trick')
print('')
print(fruits.mode())
print('\n Zero represents its initial index number\n\n')

print('Alternatively, and more appropriately, Pandas .nlargest() function will do the trick')

fruits.value_counts().nlargest(n=1, keep='all')

Although a weird way to get the most often object, mode does the trick

0    kiwi
dtype: object

 Zero represents its initial index number


Alternatively, and more appropriately, Pandas .nlargest() function will do the trick

kiwi    4
dtype: int64

10.) Determine the string value that occurs least frequently in fruits.

In [62]:
fruits.value_counts().nsmallest(n=1, keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

# |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
# -----------------------------------------------------------------------------------------

# |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

# Exercises Part II
### Explore more attributes and methods while you continue to work with the fruits Series.

1.) Capitalize all the string values in fruits

In [4]:
fruits.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

2.) Count the letter "a" in all the string values (use string vectorization).

In [15]:
contains_a = fruits.str.count('a')
contains_a

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

3.) Output the number of vowels in each and every string value.

In [21]:
#def is_vowel(letter):
    #return letter in 'aeiouAEIOU'

#def count_vowels(somestring):
    #return len([ltr for ltr in somestring if is_vowel(ltr)])

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

4.) Write the code to get the longest string value from fruits.

5.) Write the code to get the string values with 5 or more letters in the name.

6.) Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

7.) Write the code to get only the string values containing the substring "berry".

8.) Write the code to get only the string values containing the substring "apple".

9.) Which string value contains the most vowels?

# |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
# -----------------------------------------------------------------------------------------

# |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||